body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #FFBE98;
    font-family: "Rubik", sans-serif;
}
.container {
    display: flex;
    align-items: center;
    background: #F7DED0;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 90%;
    height: 80%;
}
textarea {
    width: 35%;
    height: 95%;
    margin: 0 20px;
    padding: 15px;
    border: 1px solid #FEECE2;
    border-radius: 8px;
    resize: none;
    font-size: 14px;
    font-family: "Rubik", sans-serif;
    background-color: #FEECE2;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

textarea:focus{
    outline: 1px solid#E2BFB3;
}


textarea::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
}

textarea::-webkit-scrollbar-track {
    background: #FEECE2;        /* color of the tracking area */
}

textarea::-webkit-scrollbar-thumb {
    background-color: #E2BFB3;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #E2BFB3;  /* creates padding around scroll thumb */
}

#inputJson{
    color: rgb(97, 69, 69);
    line-height: 1.5;
}

#outputJson {
    width: 50%;
    height: 100%;
    margin: 0 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f7f7f7;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
    width: 150px;
}
.buttons button {
    padding: 12px;
    margin: 5px 0;
    border: none;
    border-radius: 8px;
    background-color: #FFBE98;
    color: white;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 1.5px;
    transition: background-color 0.3s ease;
    font-family: "Rubik", sans-serif;
}
.buttons button:hover {
    background-color: #fdaa7a;
}

/* Custom styles for JSONEditor */
.jsoneditor {
    font-family: "Rubik", sans-serif;
    border-radius: 8px;
    border: 1px solid #FFBE98;
}
.jsoneditor-tree {
    background: #fdf4f0 !important;
    border-radius: 8px;
    padding: 10px;
}

.jsoneditor-menu {
    background-color: #FFBE98;
    border: #FFBE98;
}

.jsoneditor-tree .jsoneditor-field {
    color: #d32f2f;
}
.jsoneditor-tree .jsoneditor-value {
    color: #1976d2;
}
.jsoneditor-tree .jsoneditor-value.jsoneditor-string {
    color: #388e3c;
}
.jsoneditor-tree .jsoneditor-value.jsoneditor-number {
    color: #f57c00;
}

/* Styles for toast message */

.toast {
    visibility: hidden;
    min-width: 250px;
    background-color: #f57c00;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    right: 20px;
    top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 5.5s;
    animation: fadein 0.5s, fadeout 0.5s 5.5s;
  }

  @-webkit-keyframes fadein {
    from {top: -50px; opacity: 0;}
    to {top: 20px; opacity: 1;}
  }

  @keyframes fadein {
    from {top: -50px; opacity: 0;}
    to {top: 20px; opacity: 1;}
  }

  @-webkit-keyframes fadeout {
    from {top: 20px; opacity: 1;}
    to {top: -50px; opacity: 0;}
  }

  @keyframes fadeout {
    from {top: 20px; opacity: 1;}
    to {top: -50px; opacity: 0;}
  }